<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidessert有你甜點|訂單完成</title>
    <link href="https://api.fontshare.com/v2/css?f[]=gambetta@400,1,300,600,701,2,501,401,301,601,500,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/css/order3.css">
    <script src="https://kit.fontawesome.com/6f2756765f.js" crossorigin="anonymous"></script>


</head>


<body>
    <%- include("./nav.ejs") %>
  
    <picture>
        <source media="(max-width: 768px)" srcset="/pic/cart/order3.png">
        <img class="statement" src="/pic/cart/order3(2x).png">
    </picture>
    <div class="mycontainer container">
        <div class="topic finish">
            已經收到您的訂單
            <img class="finish check" style="width: 50px;" src="/pic/cart/check.png" alt="">
        </div>
        <div class="topic">訂單編號:O0000001</div>
        <div class="table">
            <div class="ps-5 bigform">
                <div class="table-header row">
                <div class="table-cell col-2 px-2">商品明细</div>
                <div class="table-cell col-2" >客製化規格</div>
                <div class="table-cell col-4">客製化卡片</div>
                <div class="table-cell col-3"></div>
                <div class="table-cell col-1"></div>
            </div>
            <% for (let i=0; i < data3.p_customize.length; i++) {%>
            <div class="table-row table-row1 order row">
                <div class="table-cell col-2 px-2">
                    <div class="product-info">
                        <img src=<%=data3.p_customize[i].pic_url %>  width="150px" alt="Product 1">
                        <p class="product-name"><%= data3.p_customize[i].p_name%></p>
                    </div>
                </div>
                <div class="table-cell item col-2 ">
                    <% Object.keys(data3.p_customize[i].spec).forEach(key => { %>
                        <li><%=key + ": " + data3.p_customize[i].spec[key]%></li>
                    <!-- <li>大小: 4格</li>
                    <li>紙盒: 粉色</li>
                    <li>紙袋: 粉色</li> -->
                    <% }) %>
                </div>
                <div class="table-cell item col-3  p-0">
                    <div><%=data3.p_customize[i].card_content  %></div>
                </div>
                <div class="table-cell item col-1 row">
                </div>    
                <div class="table-cell item col-4 row">
                    <div class="table-cell item col-1 "></div>
                    <div class="table-cell item col-5 p-0">數量</div>
                    <div class="table-cell item col-5 amount m-0 p-0">
                        <span class="quantity"><%=data3.p_customize[i].quantity%></span>
                    </div>
                    <div class="row">
                        <div class="table-cell item col-1 "></div>
                        <div class="table-cell item col-5 p-0">價格</div>
                        <div class="table-cell item col-6 price m-0 p-0"> <%=data3.p_customize[i].price%></div>
                    </div>
                    <div class="row">
                        <div class="table-cell item col-1 "></div>
                        <div class="table-cell item col-5 p-0">小計</div>
                        <div class="table-cell item col-6 price-total m-0 p-0"> <%=data3.p_customize[i].quantity * data3.p_customize[0].price%></div>
                    </div>
                </div>
                <div class="table-cell item col-1">
                </div>
            </div>
            <% } %>
            <% for (let j=0; j < data3.p_single.length; j++) {%>
            <div class="table-row table-row1 order row">
                <div class="table-cell col-2">
                    <div class="product-info">
                        <img src=<%=data3.p_single[j].pic_url %> width="150px" alt="Product 2">
                        <p class="product-name"><%= data3.p_single[j].p_name%></p>
                    </div>
                </div>
                <div class="table-cell item col-2 ">
                    <%= data3.p_single[j].spec%>
                </div>
                <div class="table-cell item col-3  p-0">
                    <%= data3.p_single[j].card_content%>
                </div>
                <div class="table-cell item col-1 row">
                </div>    
                <div class="table-cell item col-4 row">
                    <div class="table-cell item col-1 "></div>
                    <div class="table-cell item col-5 p-0">數量</div>
                    <div class="table-cell item col-5 amount m-0 p-0">
                        <span class="quantity"><%=data3.p_single[j].quantity%></span>
                    </div>
                    <div class="row">
                        <div class="table-cell item col-1 "></div>
                        <div class="table-cell item col-5 p-0">價格</div>
                        <div class="table-cell item col-6 price m-0 p-0"> <%=data3.p_single[j].price%></div>
                    </div>
                    <div class="row">
                        <div class="table-cell item col-1 "></div>
                        <div class="table-cell item col-5 p-0">小計</div>
                        <div class="table-cell item col-6 price-total m-0 p-0"><%=data3.p_single[j].quantity * data3.p_single[0].price%></div>
                    </div>
                </div>
                <div class="table-cell item col-1">
                </div>
            </div>
            <% } %>
            
                <div class="table-row table-row1 row">
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-2"></div>
                    <div class="table-cell item col-2">總計商品數：</div>
                    <div class="table-cell item col-2 product-amount">2件</div>
                </div>
                <div class="table-row table-row1 row" >
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-2"></div>
                    <div class="table-cell item col-2">商品金額：</div>
                    <div class="table-cell item col-2 product-total">$910</div>
                </div>
                <div class="table-row table-row1 row">
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-2"></div>
                    <div class="table-cell item col-2">運費：</div>
                    <div class="table-cell item col-2 deliver-fee">$80</div>
                </div>
                <div class="table-row table-row1 row">
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-3"></div>
                    <div class="table-cell col-2"></div>
                    <div class="table-cell item col-2">訂單總額：</div>
                    <div class="table-cell item col-2 cash-total">$990</div>
                </div>
            </div>
            </div>
        </div>  
    </div>    
      

       
          <%- include("./footer.ejs") %>
</body>

</html>